{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<br />
<div class="content">
    <h1 class="center display-3">About</h1>
    <br />
    <p>MHR Builds is a website that allows you to build your own Monster Hunter Rise gearsets.</p>
    <p>This website is a work in progress and is not yet complete.</p>
    <br />
    <p><b>Copyright notice</b></p>
    <p>Monster Hunter Rise is a trademark of Capcom Co., Ltd.</p>
    <p>Monster Hunter Rise © CAPCOM CO., LTD. 2021 ALL RIGHTS RESERVED.</p>
    <p>MHR Builds is not affiliated with Capcom Co., Ltd.</p>
    <br />
    <p><b>Features:</b></p>
    <p>- Login System</p>
    <p>- Create Gearsets (Public or Private)</p>
    <p>  - Add pieces of gear and decorations as available to specified gearset</p>
    <p>  - View your own gearsets and change as desired (delete or add new items)</p>
    <p>    - Ability to see skills currently set in gearset (set up similarly to the game's system, see how many available vs. how many you currently have in the gearset</p>
    <p>- View Public Gearsets</p>
    <p>  - Filtered by weapon type</p>
    <p>- Delete your own Gearsets</p>
    <p>- View skill list and see details about skills</p>
    <p>- Upon clicking on skill, a window will be displayed showing all pieces of gear and decorations that provide said skill</p>
    <p>  - This is also available from the Gearset Details screen</p>
    <p>- All tables are searchable using the search bar in navigation. Can search by any field to narrow down possibilities</p>
    <p>- Will likely not be adding Low Rank gear, but High and Master rank gear is available</p>
    <br />
    <p><b>To Do:</b></p>
    <p>- Finish adding weapons</p>
    <p>  - Mostly finished Greatsword, working currently on Sword and Shield and Dual Blades</p>
    <p>- Finish adding armor</p>
    <p>  - Mostly finished Head, Chest, Gloves, Belt, Legs</p>
    <p>- Implement Like System for public gearsets</p>
</div>
{% endblock %}