{% extends "base.html" %}

{% block title %}Overview{% endblock %}

{% block content %}
<br />
<div class="content">
    <h1 class="center display-3">Overview</h1>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/weapon_overview'">Weapons</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_helmets'">Helmets</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_chest'">Chest</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_gloves'">Gloves</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_belts'">Belts</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_legs'">Legs</button>
        </div>
    </div>
</div>
{% endblock %}