{% extends "base.html" %}

{% block title %}Public Gearsets{% endblock %}

{% block content %}
<br />
<div class="content">
    <h1 class="center display-3">Public Gearsets</h1>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Greatsword'">
                <img class="rounded mr" src="/static/greatsword.jpg" width="30" height="30" />Greatsword</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Sword and Shield'">
                <img class="rounded mr" src="/static/swordandshield.jpg" width="30" height="30" />Sword and Shield</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Dual Blades'">
                <img class="rounded mr" src="/static/dualblades.jpg" width="30" height="30" />Dual Blades</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Longsword'">
                <img class="rounded mr" src="/static/longsword.jpg" width="30" height="30" />Longsword</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Hammer'">
                <img class="rounded mr" src="/static/hammer.jpg" width="30" height="30" />Hammer</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Hunting Horn'">
                <img class="rounded mr" src="/static/huntinghorn.jpg" width="30" height="30" />Hunting Horn</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Lance'">
                <img class="rounded mr" src="/static/lance.jpg" width="30" height="30" />Lance</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Gunlance'">
                <img class="rounded mr" src="/static/gunlance.jpg" width="30" height="30" />Gunlance</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Switch Axe'">
                <img class="rounded mr" src="/static/switchaxe.jpg" width="30" height="30" />Switch Axe</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Charge Blade'">
                <img class="rounded mr" src="/static/chargeblade.jpg" width="30" height="30" />Charge Blade</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Insect Glaive'">
                <img class="rounded mr" src="/static/insectglaive.jpg" width="30" height="30" />Insect Glaive</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Bow'">
                <img class="rounded mr" src="/static/bow.jpg" width="30" height="30" />Bow</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Heavy Bowgun'">
                <img class="rounded mr" src="/static/heavybowgun.jpg" width="30" height="30" />Heavy Bowgun</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_public_gearsets/Light Bowgun'">
                <img class="rounded mr" src="/static/lightbowgun.jpg" width="30" height="30" />Light Bowgun</button>
        </div>
    </div>
</div>
{% endblock %}