{% extends "base.html" %}

{% block title%}Sign Up{% endblock %}

{% block content %}
<br />
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="content login">
        <h3 align="center">Sign Up</h3>
        <br />
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            <br />
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
            <label for="password1">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" required>
            <br />
            <label for "password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" required>
        </div>
        <br />
        <div align="center">
            <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </div>
</form>
{% endblock %}