{% extends "base.html" %}

{% block title %}Weapons{% endblock %}

{% block content %}
<br />
<div class="content">
    <h1 class="center display-3">Weapons</h1>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_greatswords'">
                <img class="rounded mr" src="/static/greatsword.jpg" width="30" height="30" />Greatsword</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_swordshields'">
                <img class="rounded mr" src="/static/swordandshield.jpg" width="30" height="30" />Sword and Shield</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_dualblades'">
                <img class="rounded mr" src="/static/dualblades.jpg" width="30" height="30" />Dual Blades</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_longswords'">
                <img class="rounded mr" src="/static/longsword.jpg" width="30" height="30" />Longsword</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_hammers'">
                <img class="rounded mr" src="/static/hammer.jpg" width="30" height="30" />Hammer</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_huntinghorns'">
                <img class="rounded mr" src="/static/huntinghorn.jpg" width="30" height="30" />Hunting Horn</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_lances'">
                <img class="rounded mr" src="/static/lance.jpg" width="30" height="30" />Lance</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_gunlances'">
                <img class="rounded mr" src="/static/gunlance.jpg" width="30" height="30" />Gunlance</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_switchaxes'">
                <img class="rounded mr" src="/static/switchaxe.jpg" width="30" height="30" />Switch Axe</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_chargeblades'">
                <img class="rounded mr" src="/static/chargeblade.jpg" width="30" height="30" />Charge Blade</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_insectglaives'">
                <img class="rounded mr" src="/static/insectglaive.jpg" width="30" height="30" />Insect Glaive</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_bows'">
                <img class="rounded mr" src="/static/bow.jpg" width="30" height="30" />Bow</button>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_heavybowguns'">
                <img class="rounded mr" src="/static/heavybowgun.jpg" width="30" height="30" />Heavy Bowgun</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success w-100" onclick="location.href='/view_lightbowguns'">
                <img class="rounded mr" src="/static/lightbowgun.jpg" width="30" height="30" />Light Bowgun</button>
        </div>
    </div>
</div>
{% endblock %}